<h1>About Us</h1>
<p>
    This is a simple Employee Management System which contains the details of employees.
</p>
<h6>Manual</h6>
<p>
    Here the employees can be added by clicking Add Employee button.The form is shown after clicking Add Employee button.
    The employee need to fill all the input field and click on Create inorder to create their record.
    The employees can also click ion edit and delete action for editing or deleting the content.
</p>
